
body {
    margin: 0;
    padding: 0;  
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
background-color: #90ADC6;

}

#app{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pantalla, .presentacion, .pantallaCompu, .login, .invitacion, .registro, .comenzar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.pantalla {
    width: 70%;
    height: 87%;
    color: #333652;
    font-size: 16px;

}

.logo {
    background-image: url('./Imagenes/Logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.nombre{

font-style:normal;
font-size:35px;
font-weight: bold;
line-height: 54px;
/* identical to box height */
text-align: center;  
color: #333652;
width: min-content;
}

label{
width: 220px;
font-size: 12px;
text-align: initial;
margin-top: 18px;
}

.datosRegistro , .datosLogin{
width: 220px;
height: 40px;
border: #E9EAEC;
background: #E9EAEC;
border-radius: 28px;
padding-left: 10px;

}

.loginBtn , .signUpBtn{
width: 186px;
height: 48px;
background: #333652;
border-radius: 28px;

color: #E9EAEC;
font-weight:bold;
font-size: 18px;
margin-top: 18px;
margin-bottom: 18px;
}
.google{
    display: flex;
    align-items: center;
}
#loginGoogle{
    height: 19px;
    width: 19px;
    background:#E9EAEC;
    border-radius: 50%;
    margin-left: 10px;
}



p{
    margin: 0;
}
.registrate , .iniciar{
    cursor:pointer;
    font-weight: bold;
   
}

.pantallaCompu{
    width: 100%;

}

@media (min-width:375px) {
body{
background-color: #c3d4e4;
display: flex;
align-items: center;
justify-content: center;

}
#app{
width: 375px;

background-color: #90ADC6;     
border-radius: 28px; 

}



}
@media (min-width:768px){
#app{
width: 100vw;
height: 100vh;
background-color: #c3d4e4;

}
.pantalla{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
}

.pantallaCompu{
width: 375px;
height: 310px;
background-color: #90ADC6;     
border-radius: 28px; 

}
.presentacion{
    width: 40%;
}

}


