body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
}

.root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.pantalla {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #90ADC6;
    color: #333652;
    font-size: 16px;
}

/*----Inicio sesión y Registro--------------------------------------------------------- */
.presentacion,
.pantallaCompu,
.login,
.invitacion,
.registro,
.comenzar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 5px;
}

/* --------Bienvenida---------------- */

 #bienvenida {
    color: rgba(233, 234, 236, 1);
    line-height: 2;
}
/*
#bienvenida .logo {
    margin: 20px;
}

#bienvenida p {
    width: 70%;
}
*/
.frase {
    font-weight: bolder;
} 



.logo {
    background-image: url('./Imagenes/Logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.nombre {

    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    color: #333652;
    width: min-content;
}

label {
    width: 220px;
    font-size: 12px;
    text-align: initial;
    margin-top: 18px;
}

.datosRegistro,
.datosLogin {
    width: 220px;
    height: 40px;
    border: #E9EAEC;
    background: #E9EAEC;
    border-radius: 28px;
    padding-left: 10px;

}

.loginBtn,
.signUpBtn,
.comenzarBtn,
.logoutBtn {
    width: 186px;
    height: 48px;
    background: #333652;
    border-radius: 28px;

    color: #E9EAEC;
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}


.google {
    display: flex;
    align-items: center;
    margin: 5px;
}

#loginGoogle {
    height: 19px;
    width: 19px;
    background: #E9EAEC;
    border-radius: 50%;
    margin-left: 10px;
}

p {
    margin: 0;
}

.registrate,
.iniciar {
    cursor: pointer;
    font-weight: bold;
}

.pantallaCompu {
    margin: 0;
    width: 100%;
}


/* -----HOME---------------------------------- */
.home {
    height: 100%;
    width: 100%;
    background-color: #FCFCFC;
}

/* encabezado------- */
#cabeza {
    background-color: #90adc6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.head {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#etsbook {
    margin-left: 3px;
    font-weight: bold;
    padding-right: 10px;
}

.menuArriba {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: flex-end;
}

#puntos,
.modalPuntos,
.xSalir {
    cursor: pointer;
}

.modalPuntos {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8vh;
    color: rgba(91, 91, 91, 1);
    height: 40px;
    width: 240px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(175, 174, 174);
}


.logOut {
    display: flex;
    align-items: center;
}

.modalPuntos p,
.logoutIcon,
.x {
    font-size: 90%;
    margin: 0 10px 0 10px;
}
.logoutQContainer{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
}
.logoutQ {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25vh;
    left: 15vw;
    height: 50vh;
    width: 70vw;
    background-color: rgba(217, 217, 217, 1);
    color: black;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(175, 174, 174);
  
}

.xSalir {
    margin-top: 10%;
}

.Q {
    margin-top: 30%;
    font-size: larger;
}

.logoutBtn {
    margin-top: 30%;
}

/* formulario para publicar */

.postPorPublicar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #d9d9d9;
    border-radius: 15px;
    border-width: 4px;
    padding: 20px;
}

.inputPostPorPublicar {
    border-radius: 30px;
    width: 80%;
    height: 50px;
    border-color: rgba(0, 0, 0, 0.219);
    cursor: text;
}

.fotoDePerfil {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px
}

.Publicar {
    background-color: #333652;
    border-radius: 40px;
    color: aliceblue;
    font-size: small;
    border: none;
    cursor: pointer;
}

/* --------------- */
.post {
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 4px solid #c7c2c2;
    border-radius: 20px;
    margin: 15px auto 15px auto;
}


.cabezaDePost {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FAD02C;
    border-radius: 15px 15px 0px 0px;
    border-color: #d9d9d9;
}

.nombreDeUsuario {
    margin-left: -70px;
}

.edit-delet {
    position: absolute;
}

.cuerpoDePost {
    /* background-color: aliceblue; */
    background-color: #e9eaec;
    height: auto;
    padding: 10px 10px;
}

.linea {
    width: 100%;
    background-color: #d9d9d9;
    height: 3px;
}


/* -Contenido de posts */
#task-container {
    width: 100%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

div.publicacion {
    width: 80%;
    height: auto;
    border: solid;
    border-color: rgba(0, 0, 0, 0.219);
    border-radius: 30px;
    border-width: 2px;
    padding: 15px;
    margin: 10px;
}

.contenidoP {
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 3px;
}

.delete,
.editar {
    padding: 7px 5px;
    cursor: pointer;
    display: none;
}

.delete {
    border-radius: 0px 0px 10px 10px;

}

.editar {
    border-radius: 10px 10px 0px 0px;
}


/* Menú desplegable del icono más */
ul,
li {
    list-style: none;
    position: relative;

}

ul:hover li {
    background-color: #ffffff;
    color: #000000;
    display: block;
    position: relative;
}


.footerDePost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: aliceblue; */
    background-color: #e9eaec;
    border-radius: 0px 0px 15px 15px;
}

.footerDeHome {
    background-color: #90ADC6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 0px;
    /* position: relative; */
    width: 100%;
    position: sticky;
    bottom: 0;
}

.divIconoHome {
    width: 38px;
    height: 38px;
    background-color: #333652;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------- */





/* 

@media (min-width:375px) {
body{
background-color: #c3d4e4;
display: flex;
align-items: center;
justify-content: center;

}
#app{
width: 375px;

background-color: #90ADC6;     
border-radius: 28px; 

}


} */
/* @media (min-width:768px){
#app{width: 100vw;height: 100vh;background-color: #c3d4e4;}
.pantalla{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
width: 100%;
}

.pantallaCompu{
width: 375px;
height: 310px;
background-color: #90ADC6;     
border-radius: 28px; 

}
.presentacion{
    width: 40%;
}

}
 */